body {
  margin: 50px;
}

h1 {
  text-align: center;
  font-family: Arial;
}

h2,
span {
  font-family: arial;
  background-color: #161616;
  border-radius: 4px;
  color: #ffff;
}

p {
  font-size: 20px;
}

h2 {
  padding: 30px;
  margin: 20px;
}

span {
  color: #febe01;
}

button {
  padding: 7px;
  font-size: 15px;
  background-color: #ecb037;
  color: #000000;
}
